@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=PT+Sans&display=swap');

$powderBlue: #D5E1F1;
$lightBlue: #93BEE0;
$slateGray: #6F90A3;
$darkOliveGreen: #32471E;
$superDarkGreen: #101406;

$headerFonts: 'Mountains of Christmas', cursive;
$regularFonts: 'PT Sans', sans-serif;
