@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

table {
  overflow-y: auto;
  height: 50vh;    /* !!!  HEIGHT MUST BE IN [ vh ] !!! */
}

thead th {
  position: sticky;
  top: 0;
  background-color: lightgreen
  ;
  
}
