.SingleGear {
  display: block;
}

.gearSinglePhoto {
  max-width: 250px;
  max-height: 250px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;

}

.gearSinglePhoto:hover {
  transform: scale(1.5);
}

.caps {
  text-transform: uppercase;
  font-style: italic;
}
